:root {
    --backgroundBody: linear-gradient(#030a31 20%, #2039ca 47%, #2935d8 50%, #47a3f1);
    --banner: radial-gradient(circle, #abf9ff 18%, #abf9ff2d 100%);
    --principal: #06195a;
    --secondaire: #ff0084;
    --tertiaire: #fd4f0a;
    --white: #fff;
    --black: #000;
    --hover: #5a5e5a;
    --turquoise: #00ffe5;
    --span: #001dff;
}


body {
    box-sizing: content-box;
    margin: auto;
    padding: 0;
    font-family: monospace;
}

header {
    width: 100%;
    height: 180px;
    background: var(--banner);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 40px;
}

header a {
    margin: auto;
    display: block;
    text-decoration: none;
}

.nav {
    position: absolute;
    left: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

nav ul {
    padding: 0;
    display: flex;
}

.nav a {
    padding: 0;
    text-decoration: none;
    color: var(--principal);
    font-size: 16px;
    font-weight: bold;
}

.nav .cv {
    color: var(--tertiaire);
    box-shadow: inset 1px 1px 2px 0px var(--hover);
    padding: 5px;
    margin-right: 23px;
}

.nav .cv:hover {
    box-shadow: var(--principal) 1px 1px 3px;
}

nav li {
    list-style: none;
    text-align: center;
    padding: 5px;
    box-shadow: inset 1px 1px 2px 0px var(--hover);
    margin-right: 10px;
}

nav li:hover {
    box-shadow: var(--principal) 1px 1px 3px;
    font-weight: lighter;
}

.container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.contact {
    display: flex;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 20px;
    font-size: 30px;
}

.presentation {
    color: var(--principal);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentation img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 1%;
    left: 10%;
    animation: scale-up-tr 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

h1 {
    font-size: 38px;
    margin-bottom: 10px;
    margin-top: 0;
}

.job{
    margin: auto;
    font-size: 30px;
}

.job a {
    padding-top: 20px;
}

h3 {
    width: 100%;
    margin: auto;
    margin: 25px auto 0;
    padding-bottom: 25px;
    font-size: 30px;
    text-align: center;
    color: var(--principal);
    /* border-bottom: var(--turquoise) double; */
}

#projets {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#projets span {
    color: var(--turquoise);
}

.divProjet {
    width: 30%;
    height: auto;
    margin: 20px auto;
    padding-bottom: 10px;
    padding-top: 15px;
    justify-content: center;
    border: 3px solid var(--black);
    border-radius: 20px;
    background-color: var(--principal);
}

.divProjet:hover {
    border: 3px solid var(--turquoise);
}

#projets .projet {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

#projets .projet .titreProjet {
    width: max-content;
    color: var(--turquoise);
    margin: auto;
    display: block;
    font-size: 17px;
}

#projets .projet a,
#projets .description a {
    text-decoration: none;
}

#projets .description {
    width: 80%;
    margin: auto;
    color: var(--white);
    font-size: 18px;
}

#projets .description a {
    display: block;
    color: var(--secondaire);
    font-size: 16px;
    padding-bottom: 10px;
}

#projets .description a:hover {
    color: var(--white);
}

#projets .projet img {
    width: 100%;
    height: 250px;
    display: block;
    margin: 20px auto;
    border-radius: 30px;
    border: 3px solid var(--black);
    object-fit: cover;
}

h2{
    width: 40%;
    color: var(--principal);    
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}

#about {
    color: var(--principal);
    width: 70%;
    margin: auto;
    font-size: 20px;
    padding-bottom: 15px;
}

#about a {
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--tertiaire);
    text-decoration: none;
}

#about a:hover {
    color: var(--secondaire);
    text-decoration: underline;
}

span {
    color: var(--span);
}

footer {
    height: 150px;
    background: var(--banner);
}

.footer {
padding-top: 20px;
}

footer p {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 15px;
}

footer p a {
    font-size: 20px;
    color: var(--principal);
    text-decoration: none;
}

footer p a:hover {
    display: block;
    transform: scale(1.05);
    color: var(--secondaire);
}

footer img {
    width: 100px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


/******************************************************** ANIMATIONS *******************************************************************/

.scale-up-bl {
    -webkit-animation: scale-up-bl 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-bl 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-bl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
    
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

@keyframes scale-up-bl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
    
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

.scale-up-tr {
    -webkit-animation: scale-up-tr 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-tr 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}



/***************************************************STYLE VAGUE********************************************************/

.wavy-border {
    position: relative;
    padding: 20px;
    /* background-color: #ABF9FF; */
    z-index: 1;
}

.wavy-border::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 18px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1440 320"><path fill="%2306195a" fill-opacity="1" d="M0,224L48,192C96,160,192,96,288,96C384,96,480,160,576,176C672,192,768,160,864,133.3C960,107,1056,85,1152,90.7C1248,96,1344,128,1392,144L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>');
    z-index: -1;
}

.wavy-border::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 23px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1440 320"><path fill="%2306195a" fill-opacity="1" d="M0,224L48,192C96,160,192,96,288,96C384,96,480,160,576,176C672,192,768,160,864,133.3C960,107,1056,85,1152,90.7C1248,96,1344,128,1392,144L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>');
    z-index: -1;
}



/*************************************************** MEDIA-QUERY TABLETTE ********************************************************/

@media screen and (max-width: 1200px) {
    
    body {
        background:var(--backgroundBody);
    }

    .container {
        width: 95%;
    }
    
    #about , h2 {
        color: var(--white);
    }
    
    .presentation {
        width: 100%;
    }
    
    .presentation img {
        width: 150px;
        height: 150px;
        left: 2%;
        top: 2%;
    }
    
    .projets {
        padding-top: 5px;
    }
    
    h1{
        width: 60%;
        margin: auto;
    }
    
    p.job {
        width: 60%;
        margin: auto;
    }
    
    .nav .cv {
        color: var(--white);
        font-weight: lighter;
    }
    
    h3 {
        font-size: 25px;
        font-weight: lighter;
        color: var(--turquoise)
    }
    span {
        color: var(--turquoise);
        font-weight: lighter;
    }

    #about a {
        font-weight: lighter;
    }

    .divProjet {
        width: 45%;
        margin-bottom: 0px;
    }
    
    #projets .projet {
        width: 100%;
    }
    
    #projets .projet .titreProjet {
        font-size: 20px;
    }
    
    #projets .projet img {
        width: 80%;
        height: 200px;
        display: block;
        object-fit: cover;
    }
    
    #projets .description {
        font-size: 17px;
    }
    
    footer {
        border-radius: 0;
    }
    
    footer p {
        width: 100%;
    }
    
    form {
        width: 100%;
    }
    
    input {
        width: 80%;
    }
    
    #about {
        width: 75%;
    }
    
    #apropos {
        margin: 20px;
        letter-spacing: 0px;
        line-height: 25px;
    }
    
    .wavy-border {
        padding: 0;
        background-color: var(--white);
    }

    .wavy-border::before {
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1440 320"><path fill="%23fff" fill-opacity="1" d="M0,224L48,192C96,160,192,96,288,96C384,96,480,160,576,176C672,192,768,160,864,133.3C960,107,1056,85,1152,90.7C1248,96,1344,128,1392,144L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>');
    }
    
    .wavy-border::after {
        display: none;
    }
}


/*************************************************** MEDIA-QUERY PORTABLE********************************************************/
@media screen and (max-width: 779px) {
    
    header {
        height: 145px;
        border-radius: 0;
        padding: 0;
    }
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin-bottom: 10px;
    }
    
    .nav {
        position: static;
    }
    
    .nav a {
        font-size: 11px;
        color: var(--white);
        font-weight: lighter;
    }
    
    h1 {
        width: 85%;
        font-size: 20px;
        margin: 0;
        }
    
    p.job {
        font-size: 19px;
        font-weight: bold;
        margin: 0;
        width: 85%;
    }
    
    h2 {
        width: 80%;
        font-size: 20px;
    }
    
    .presentation {
        line-height: 2;
        padding: 25px 5px 10px 0px;
        width: 100%;
    }
    
    .presentation img {
        display: none;
    }
    
    #about {
        font-size: 15px;
        width: 95%;
    }
    
    .container {
        width: 100%;
    }
    
    h3 {
        font-size: 20px;
        padding-bottom: 25px;
    }
    
    .divProjet {
        width: 98%;
        margin: 10px auto;
        border-radius: 0;
    }
    
    #projets .projet .titreProjet {
        font-size: 16px;
    }
    
    #projets .description {
        font-size: 14px;
    }
    
    #projets .description a{
        font-size: 13px;
    }
    
    footer .footer{
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    footer p a {
        font-size: 17px;
        font-weight: bolder;
    }
    
}




