:root {
    --backgroundBody: linear-gradient(#061464 20%, #2039ca 47%, #2935d8 50%, #47a3f1);
    --banner: radial-gradient(circle, #abf9ff 18%, #abf9ff2d 100%);
    --principal: #06195a;
    --secondaire: #ff0084;
    --tertiaire: #0c1ae2;
    --white: #fff;
    --black: #000;
    --hover: #5a5e5a;
    --turquoise: #00ffe5;
}


body {
    /* max-width:  1440px; */
    box-sizing: content-box;
    margin: auto;
    padding: 0;
    font-family: monospace;
    /* background: var(--backgroundBody); */
}

header {
    width: 100%;
    height: 180px;
    background: var(--banner);
    border-radius: 0 0 30px 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 40px;
}

header a {
    margin: auto;
    display: block;
    text-decoration: none;
}

.nav {
    position: absolute;
    left: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

nav ul {
    padding: 0;
    display: flex;
}

.nav a {
    padding: 0;
    text-decoration: none;
    color: var(--principal);
    font-size: 16px;
    font-weight: bold;
}

.nav .cv {
    color: var(--tertiaire);
    padding: 3px;
}

.nav .cv:hover {
    box-shadow: var(--hover) 1px 1px 3px;
}

nav li {
    list-style: none;
    text-align: center;
    padding: 3px;
    box-shadow: inset 1px 1px 2px 0px var(--hover);
    margin-right: 10px;
}

nav li:hover {
    box-shadow: 1px 1px 5px var(--hover);
    box-shadow: var(--principal) 1px 1px 3px;
    font-weight: lighter;
}

.container {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.contact {
    display: flex;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 20px;
    font-size: 30px;
}

.presentation {
    color: var(--principal);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentation img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 1%;
    left: 10%;
    animation: scale-up-tr 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

h1 {
    font-size: 38px;
    margin-bottom: 10px;
    margin-top: 0;
}

.job{
    margin: auto;
    font-size: 30px;
}

.job a {
    padding-top: 20px;
}

h3 {
    width: 100%;
    margin: auto;
    margin: 25px auto 0;
    padding-bottom: 25px;
    font-size: 30px;
    text-align: center;
    color: var(--principal);
    border-bottom: var(--turquoise) double;
}

#projets {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divProjet {
    width: 30%;
    height: auto;
    margin: 20px auto;
    padding-bottom: 10px;
    padding-top: 15px;
    justify-content: center;
    border: 3px solid var(--black);
    border-radius: 20px;
    background-color: var(--principal);
}

.divProjet:hover {
    border: 3px solid var(--turquoise);
}

#projets .projet {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

#projets .projet .titreProjet {
    width: max-content;
    color: var(--turquoise);
    margin: auto;
    display: block;
    font-size: 17px;
}

#projets .projet a,
#projets .description a {
    text-decoration: none;
}

#projets .description {
    width: 80%;
    margin: auto;
    color: var(--white);
    font-size: 18px;
}

#projets .description a {
    display: block;
    color: var(--secondaire);
    font-size: 16px;
    padding-bottom: 10px;
}

#projets .description a:hover {
    color: var(--white);
}

#projets .projet img {
    width: 100%;
    height: 250px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    border: 3px solid var(--black);
    object-fit: cover;
}

h2{
    width: 40%;
    color: var(--principal);    
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}

#about {
    color: var(--principal);
    width: 70%;
    margin: auto;
    font-size: 20px;
    padding-bottom: 15px;
}

#about a {
    letter-spacing: 1px;
    color: var(--turquoise);
    font-weight: bold;
    text-decoration: none;
}

#about a:hover {
    color: var(--secondaire);
    text-decoration: underline;
}

span {
    color: var(--turquoise);
}

footer {
    height: 150px;
    background: var(--banner);
    border-radius: 30px 30px 0 0;
}

footer p {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

footer p a {
    font-size: 20px;
    color: var(--principal);
    text-decoration: none;
}

footer p a:hover {
    display: block;
    transform: scale(1.05);
    color: var(--secondaire);
}

footer img {
    width: 100px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

footer .footer {
    margin-top: 30px;
}

/************************************************************************************************    ***********************************************/
.scale-up-bl {
    -webkit-animation: scale-up-bl 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-bl 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-bl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
    
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

@keyframes scale-up-bl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
    
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

/******************************************************** ANIMATIONS *******************************************************************/
.scale-up-tr {
    -webkit-animation: scale-up-tr 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-tr 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}


/*************************************************** MEDIA-QUERY TABLETTE ********************************************************/

@media screen and (max-width: 1200px) {
    
    body {
        background:var(--backgroundBody);
    }
    
    #about , h2 {
        color: var(--white);
    }
    
    .presentation {
        width: 100%;
    }
    
    .presentation img {
        width: 150px;
        height: 150px;
        left: 2%;
        top: 2%;
    }
    
    .projets {
        padding-top: 5px;
    }
    
    h1{
        width: 60%;
        margin: auto;
    }
    
    p.job {
        width: 60%;
        margin: auto;
    }
    
    h3 {
        font-size: 25px;
        font-weight: lighter;
        color: var(--turquoise)
    }
    
    .divProjet {
        width: 80%;
        margin-bottom: 0px;
        border-radius: 0px;
    }
    
    #projets .projet {
        width: 80%;
    }
    
    #projets .projet .titreProjet {
        font-size: 20px;
    }
    
    #projets .projet img {
        width: 60%;
        height: 200px;
        display: block;
    }
    
    #projets .description {
        font-size: 17px;
    }
    
    footer {
        border-radius: 0;
    }
    
    footer p {
        width: 100%;
    }
    
    form {
        width: 100%;
    }
    
    input {
        width: 80%;
    }
    
    #about {
        width: 75%;
    }
    
    #apropos {
        margin: 20px;
        letter-spacing: 0px;
        line-height: 25px;
    }
}


/*************************************************** MEDIA-QUERY PORTABLE********************************************************/
@media screen and (max-width: 779px) {
    
    header {
        height: 145px;
        border-radius: 0;
        padding: 0;
    }
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin-bottom: 10px;
    }
    
    .nav {
        position: static;
    }
    
    .nav a, .nav .cv {
        font-size: 12px;
        color: var(--white);
        font-weight: lighter;
    }
    
    .nav li:hover, .nav .cv:hover {
        box-shadow: var(--principal) 1px 1px 3px;
    }
    
    h1 {
        width: 99%;
        margin: auto;
        font-size: 23px;
        padding-left: 3px;
    }
    
    h2 {
        width: 80%;
        font-size: 20px;
    }
    
    .presentation {
        line-height: 1.9;
    }
    
    .presentation img {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 10.5%;
        left: 30%;
    }
    
    #about {
        font-size: 15px;
        width: 95%;
    }
    
    p.job {
        width: 99%;
        margin: auto;
        font-size: 21px;
        padding-left: 3px;
    }
    
    .container {
        width: 100%;
    }
    
    #projets .projet img {
        width: 100%;
    }
    
    h3 {
        font-size: 20px;
        padding-bottom: 10px;
    }
    
    .divProjet {
        width: 95%;
        margin: 10px auto;
        border-radius: 0;
    }
    
    #projets .projet .titreProjet {
        font-size: 16px;
    }
    
    #projets .description {
        font-size: 14px;
    }
    
    #projets .description a{
        font-size: 13px;
    }
    
    footer .footer{
        margin: 0;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    
    footer p a {
        font-size: 15px;
        font-weight: bolder;
    }
}


