:root {
    --backgroundBody: linear-gradient(#061464 20%, #2039ca 47%, #2935d8 50%, #47a3f1);
    --background-color: #abf9ff;
    --principal: #06195a;
    --secondaire: #ff0084;
    --tertiaire: #e20c0c;
    --cv: #f54009;
    --white: #fff;
    --black: #000;
    --hover: #5a5e5a;
    --turquoise: #1effe8;
}


body {
    box-sizing: content-box;
    margin: auto;
    padding: 0;
    font-family: monospace;
    background: var(--backgroundBody);
}

header {
    width: 99%;
    height: 240px;
    background: var(--background-color);
    border-radius: 0 0 30px 30px;
    display: inline-block;
    padding: 10px;
}

header h2 p {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    font-size: 22px;
    padding-top: 5px;
}

header a {
    margin: auto;
    display: block;
    text-decoration: none;
    color: var(--principal);
    font-size: 22px;
    padding-top: 50px
}

header a:hover {
    color: var(--hover);
}

i.fa-solid.fa-arrow-right,
i.fa-solid.fa-arrow-left {
    color: var(--tertiaire);
    font-size: 15px;
    padding: 0 5px;
}

.nav {
    width: 32%;
    flex-direction: row;
     align-items: center;
    position: absolute;
    right: -8%;
    top: 0px;
}

nav li {
    list-style: circle;
}

.container {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.contact {
    display: flex;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 20px;
    font-size: 30px;
}

.divPresentation {
    width: 80%;
    margin: auto;
    font-weight: bold;
    color: var(--principal);
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 38px;
}

p.job{
    margin: auto;
    font-size: 30px;
}

main .experiences {
    width: 90%;
    margin: auto;
    margin: 23px auto;
    padding-bottom: 45px;
    font-size: 40px;
    text-align: center;
    color: var(--background-color);
    border-bottom: var(--turquoise) double;
}

.presentation a{
    width: 22%;
    margin: auto;
    color: var(--cv);
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 140px;
    font-size: 16px;
}

.presentation a:hover {
    color: var(--black);
}

#projets {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divProjet {
    width: 31%;
    height: auto;
    margin: 20px auto;
    padding-bottom: 10px;
    padding-top: 15px;
    justify-content: center;
    border: 3px solid var(--black);
    border-radius: 20px;
    background-color: var(--principal);
}

.divProjet:hover {
    border: 3px solid var(--turquoise);
}

#projets .projet {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

#projets .projet .titreProjet {
    width: max-content;
    color: var(--turquoise);
    margin: auto;
    display: block;
    font-size: 18px;
}

#projets .projet a,
#projets .description a {
    text-decoration: none;
}

i.fa-brands.fa-github {
    padding-left: 15px;
}

#projets .description {
    width: 60%;
    margin: auto;
    color: var(--white);
    font-size: 20px;
}

#projets .description a {
    width: max-content;
    display: block;
    color: var(--secondaire);
    font-size: 18px;
    padding-bottom: 10px;
}

#projets .description a:hover {
    color: var(--white);
}

#projets .projet img {
    width: 70%;
    height: 250px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    border: 3px solid var(--black);
    object-fit: cover;
}

form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width: 30%;
    margin: auto;
    padding-top: 10px;
    font-size: 17px;
}

button {
    width: 25%;
    height: 25px;
    margin-top: 20px;
    background-color: var(--background-color);
}

button a {
    color: var(--black);
    text-decoration: none;
}

input {
    width: 50%;
    height: 25px;
}

header .aproposH1 {
    /* padding-top: 20px; */
    display: flex;
    justify-content: center;
    color: var(--principal);
    font-size: 30px;
    margin-top: 78px;
}

.navApropos a {
    width: 70%;
    color: var(--principal);
    padding-top: 0;
}

#apropos {
    margin: auto;
    color: var(--white);
    margin: 70px;
    letter-spacing: 0.5px;
    /* background-color: var(--principal); */
    padding: 20px;
}

.aproposH2 {
    width: 20%;
    color: var(--white);
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}

#about {
    color: var(--white);
    width: 80%;
    margin: auto;
    font-size: 20px;
    padding-bottom: 15px;
}

#about a {
    letter-spacing: 1px;
    color: var(--turquoise);
    font-weight: bold;
    text-decoration: none;
}

#about a:hover {
    color: var(--white);
    text-decoration: underline;
}

span {
    color: var(--turquoise);
    font-weight: bold;
}

mark {
    background-color: var(--background-color);
    font-style: oblique;
    border-radius: 10px;
}

footer {
    height: 150px;
    background: var(--principal);
    border-radius: 30px 30px 0 0;
}

footer p {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

footer p a {
    font-size: 25px;
    color: var(--white);
    text-decoration: none;
}

footer p a:hover {
    display: block;
    transform: scale(1.1);
    color: var(--secondaire);
}

footer img {
    width: 100px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

footer .footer {
    margin-top: 30px;
}

/************************************************************************************************    ***********************************************/
.scale-up-bl {
    -webkit-animation: scale-up-bl 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-bl 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-bl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

@keyframes scale-up-bl {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

/******************************************************** ANIMATIONS *******************************************************************/
.scale-up-tr {
    -webkit-animation: scale-up-tr 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-tr 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}


/*************************************************** MEDIA-QUERY ********************************************************/

@media screen and (max-width: 747px) {
    header {
        /* width: 95%; */
        /* height: 180px; */
        box-shadow: inset var(--principal) 1px -1px 0px 7px;
    }

    header h1 {
        width: 100%;
        font-size: 40px;
    }

    header a {
        font-size: 16px;
    }

    .projets {
        padding-top: 5px;
    }

    .aproposH2 {
        width: 50%;
        font-size: 20px;
    }

    header h2 p {
        width: 60%;
        margin: auto;
        font-size: 20px;
    }

    main .experiences {
        font-size: 22px;
        font-weight: lighter;
    }

    main .experiences h3 {
        width: 100%;
        padding-top: 20px;
        font-size: 25px;
    }

    .divPresentation {
        width: 100%;
        line-height: 30px;
        padding-top: 45px;
    }

    .divPresentation span {
        width: 100%;
        font-size: 20px;
    }

    .divPresentation .presentationNom {
        font-size: 25px;
    }

    .divProjet {
        width: 100%;
        margin-bottom: 0px;
        border-radius: 0px;
    }

    #projets .projet {
        width: 80%;
    }

    #projets .projet .titreProjet {
        font-size: 20px;
    }

    #projets .projet img {
        width: 60%;
        height: 200px;
        display: block;
    }

    #projets .description {
        font-size: 17px;
    }

    .nav {
        padding: 6px;
    }

    .CV a {
        width: 50%;
        padding: 6px;
    }

    footer {
        border-radius: 0;
    }

    footer p {
        width: 100%;
    }

    form {
        width: 100%;
    }

    input {
        width: 80%;
    }

    .about {
        width: 89%;
    }

    #apropos {
        margin: 20px;
        letter-spacing: 0px;
        line-height: 25px;
    }
}